/*
----------
Reset
----------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
----------
Debug
----------
*/

.debug .top-header {
    height: 80px;
}

.debug .bottom-header {
    height: 500px;
}

.debug .content-bottom-header {
    height: 400px;
}

.debug .container-row {
    height: 600px;
}

.debug .row .col {
    height: 500px;
}

.debug .container-row1 {
    height: 600px;
}

.debug .row1 .col1 {
    height: 500px;
}

.debug .container-row2 {
    height: 600px;
}

.debug .row2 .col2 {
    height: 500px;
}

.debug .bottom-main {
    height: 1000px;
}

.debug .content-bottom-main {
    height: 900px;
}

.debug footer {
    height: 750px;
}

.debug .container-top-footer {
    height: 575px;
}

.debug .container-bottom-footer {
    height: 80px;
}

/*
----------
Common
----------
*/

.container {
    margin: 0 auto;
}

.container-big {
    max-width: 1200px;
}

.container-small {
    max-width: 900px;
}

.bottom-list{
    display: flex;
    flex-direction: column;
}

.title-list-items{
    color: #7289da;
}

.bottom-list-items{
    text-decoration: none;
    color: white;
    line-height: 30px;
}

/*
----------
Header
----------
*/

header{
    background-image: url('../img/jumbo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-header {
    padding: 12px 0;
    margin-bottom: 100px;
}

nav.container-big.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    gap: 40px;
    width: 80%;
    justify-content: center;
    padding: 15px 0;
}

li a {
    text-decoration: none;
    color: white;
}

.logo {
    text-decoration: none;
    color: white;
    padding: 15px 0 15px 5px;
}

.login {
    text-decoration: none;
    background-color: white;
    color: black;
    text-align: right;
    border: 1px solid white;
    padding: 8px 8px;
    border-radius: 20px;
}

.bottom-header {
    padding:50px 0;
}

.content-bottom-header.container.container-small {
    text-align: center;
}

.content-bottom-header.container.container-small> h1{
    color: white;
    font-size: 56px;
    padding-bottom: 45px;
}

.content-bottom-header.container.container-small> p{
    color: white;
    font-size: 20px;
    padding-bottom: 20px;
}

.content-bottom-header.container.container-small .scarica-per-mac{
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 10px 10px;
    border-radius: 40px;
}

.content-bottom-header.container.container-small .apri-discord{
    text-decoration: none;
    background-color: #23272a;
    color: white;
    padding: 10px 10px;
    border-radius: 40px;
}


/*
----------
Main
----------
*/

.container-row {
    background-color: white;
    padding: 50px 0;
}

.row.container.container-big {
    display: flex;
}

.col-big {
    background-image: url(../img/item1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 60%;
}

.col-small {
    padding-left: 20px;
    padding-top: 40px;
    width: 40%;
}

.container-row h2{
    padding-bottom: 40px;
    font-size: 40px;
    font-weight: 800;
}
.container-row p{
    font-size: 20px;
    line-height: 1.5;
}

.container-row1 {
    background-color: #f6f6f6;
    padding: 50px 0;
}

.row1.container.container-big {
    display: flex;
}

.col-big1 {
    width: 40%;
    padding-top: 30px;
    padding-left: 150px;
}

.col-small1 {
    background-image: url('../img/item2.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 60%;
}

.container-row1 h2{
    padding-bottom: 40px;
    font-size: 40px;
    font-weight: 800;
}
.container-row1 p{
    font-size: 20px;
    line-height: 1.5;
}

.container-row2 {
    background-color: white;
    padding: 50px 0;
}

.row2.container.container-big {
    display: flex;
}

.col-big2 {
    background-image: url(../img/item3.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 60%;
}

.col-small2 {
    padding-left: 20px;
    padding-top: 40px;
    width: 40%;
}

.container-row2 h2{
    padding-bottom: 40px;
    font-size: 40px;
    font-weight: 800;
}
.container-row2 p{
    font-size: 20px;
    line-height: 1.5;
}

.bottom-main {
    background-color: #f6f6f6;
    padding: 50px 0 100px 0;
    text-align: center;
}

.content-bottom-main.container.container-big {
    background-image: url('../img/item4-big.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 600px;
}

.first-h2{
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 45px;
}

.second-h2{
    background-image: url('../img/stars.svg');
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
}

.bottom-main a{
    text-decoration: none;
    background-color: #7289da;
    color: white;
    padding: 10px 10px;
    border-radius: 40px;
    margin: 30px 0;
}


/*
----------
Footer
----------
*/

footer {
    background-color: #23272a;
    padding-top: 50px;
}

.container-top-footer {
    display: flex;
    padding: 10px 0 50px 0;
    height: 600px;
}

.col-footer-big {
    flex-basis: 30%;
}

.col-footer-big > h2{
    color: #7289da;
    margin-bottom: 15px;
}

.col-footer-big > p{
    color: white;
}

.ita{
    display: inline-block;
}

.social{
    color: white;
    padding-top: 20px;
}

.col-footer-small {
    flex-basis: 70%;
    display: flex;
    justify-content: space-between;
}

.bottom-list1{
    display: flex;
    flex-direction: column;
}

.title-list1-items{
    color: #7289da;
}

.bottom-list1-items{
    text-decoration: none;
    color: white;
    line-height: 30px;
}

.col-footer-small>.col {
    flex-basis: 25%;
}

.container-bottom-footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-bottom-footer.container.container-big>a {
    text-decoration: none;
}

.registrati{
    color: white;
    background-color: #7289da;
    padding: 10px 8px;
    border-radius: 20px;
}